.icon{
  margin-left: 5px;
  width: 25px;
}
.form-check-label{
  color: #ffff;
}
.logo{
  background: #ffff;
  border-radius: 20px;
  padding: 5px;
  width: 75px;
}
.opacityOf{
  background: rgb(43, 70, 52);
  transition: background-color 0.8s linear;
}
.opacityOn{
  background-color: rgb(43, 70, 52, 0.9) !important;
  transition: background-color 0.8s linear;
}
.navbar-brand{
  font-weight: bold;
}
.nav-link{
  font-size: 18px;
  margin: 0 5px;
  -webkit-transition: font-size .5s ease !important;
  transition: font-size .5s ease !important;
}
.nav-link:hover{
  font-size: 19px;
  font-weight: bolder;
}
.navbar-brand:hover{
  text-decoration: underline;
}