.imageProduct {
  width: 271px;
  height: 162px;
}

.iconProduct {
  font-size: 55px;
  background: #8e4797;
  padding: 15px;
  border-radius: 50%;
  color: #ffff;
}

.text-left {
  text-align: left;
}
